@import './tailwind.scss';
@import './base.scss';
@import './fonts/fonts.scss';

#app {
  // max-width: 1280px;
  font-weight: normal;
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
  }
}
